/*****************  KUBERNETES *************************/
k8s {
    namespace          = 'jezdik-ns'
    runAsUser          = 1000           // platný numerický UID
    computeResourceType= 'Job'
    cpuLimits          = true

    /*  sdílené úložiště  */
    storageClaimName   = 'pvc-seg'
    storageMountPath   = '/mnt/data'

    /*  adresáře na PVC  */
    launchDir          = '/mnt/data/launch'
    workDir            = '/mnt/data/work'
}

/*****************  DEFAULT EXECUTOR  ******************/
process {
    executor = 'k8s'
    cpus     = 2
    memory   = '12 GB'

    /*  securityContext – bez kontroverzních voleb  */
    pod = [
        [securityContext:[
            runAsUser : 1000,
            runAsGroup: 1000,
            fsGroup   : 1000,
            fsGroupChangePolicy: 'OnRootMismatch',
            seccompProfile:[type:'RuntimeDefault']
        ]],
        [automountServiceAccountToken:false]
    ]

    /*  zdroje pro GPU job – aplikuje se na vše (není -li třeba, dejte do `withLabel`) */
    ext.k8s = [
        limits  : [cpu:'2', memory:'12Gi', 'nvidia.com/gpu':'1'],
        requests: [cpu:'2', memory:'10Gi', 'nvidia.com/gpu':'1']
    ]
}

/*****************  PARAMETRY WORKFLOWU  ***************/
params {
    input_dir = '/mnt/data/input'
    license   = '/mnt/data/license.txt'
}

/*****************  EXECUTOR QUEUE  ********************/
executor {
    queueSize = 30
}
