// =============================================================================
// Globální nastavení executorů
// =============================================================================
executor {
  name      = 'k8s'
  queueSize = 10
}

params {
  input_dir = '/mnt/data/input'
  license   = '/mnt/data/license.txt'
}

// =============================================================================
// Výchozí nastavení pro všechny procesy
// =============================================================================
process {
  // defaultní image s bash v /bin/bash
  container = 'jezdip1/fastsurfer-cerit:latest'
  cpus      = 1
  memory    = '12 GB'

  // pokud někdy označíte proces label: 'gpujob', použij 1 GPU + víc CPU/memory
  withLabel: 'gpujob' {
    cpus   = 2
    memory = '12 GB'
    ext.k8s {
      requests = [ 'nvidia.com/gpu': '1', cpu: '2', memory: '10Gi' ]
      limits   = [ 'nvidia.com/gpu': '1', cpu: '2', memory: '12Gi' ]
    }
  }
}
