// --------------- základní parametry -----------------
params {
   input_dir = '/mnt/data/input'      // kde leží .nii
   out_dir   = '/mnt/data/subjects'   // kam se ukládají výstupy FastSurferu
   license   = '/mnt/data/license.txt'
}

// --------------- Kubernetes executor ----------------
k8s {
   namespace          = 'jezdik-ns'
   launchDir          = '/mnt/data/launch'
   workDir            = '/mnt/data/work'
   storageClaimName   = 'pvc-seg'
   storageMountPath   = '/mnt/data'
   // driver-pod musí projít PodSecurity:
   pod = [
     [ securityContext:[
         runAsNonRoot:     true,
         seccompProfile:[ type: 'RuntimeDefault' ]
     ]]
   ]
}

// --------------- výchozí zdroje pro procesy ---------
process {
   executor = 'k8s'
   cpus     = 2
   memory   = '12.GB'

   // -> stejné requests i limits, plus GPU
   ext.k8s = [
     limits:   [ cpu: '2', memory: '12Gi', 'nvidia.com/gpu': '1' ],
     requests: [ cpu: '2', memory: '12Gi', 'nvidia.com/gpu': '1' ]
   ]
}
